.sticky-card {
    position: fixed;
    top: 80px;
    right: 16px;
    margin-top: 35px;
    z-index: 3;
}

.sticky-card .card {
    width: 75%;
    border-radius: 16px;
    margin-left: auto;
}


.box-badge {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: green;
    color: #fff;
}

.section-card {
    width: 296.66px;
    height: 162px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonials-container {
    background-color: #F5F7F9;
    margin-top: 72px;
    margin-bottom: 72px;
    padding: 72px;
}

.hover-blue:hover a {
    color: #007bff;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0089EC;
}

.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-color:hover a {
    color: #0089EC
}

.dx-hover:hover div {
    color: #0089EC;
}


.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation:hover span {
    color: #0089EC;
}

.offcanvasDropdownItem:hover .dx-image {
    display: block;
}

.dx-image {
    display: none;
    color: #007bff;
}

.dx-hover:hover .dx-image {
    display: block;
    opacity: 0.236777;
    opacity: 1;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-card {
    padding: 30px 10px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(34, 34, 34, 0.2);
    height: 201px;
    width: 265.5px;
}

.active-link {
    color: #318FCC;
    border-bottom: 2px solid #0089ec;
    font-weight: 600 !important;
}

.testimonials-header {
    text-align: center;
    font-size: 36px;
    font-weight: 600 !important;
    line-height: 27px;
    margin-bottom: 50px;
}

.testimonials-card {
    display: inline-flex;
    flex-direction: column;
    height: 219px;
    padding: 32px;
    max-width: 377px;
    background: #fff;
    border-radius: 10px;
}

.customer-name {
    text-align: end;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.labgroup-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    margin-top: 15px;
}


.now-text {
    font-size: 14px;
}

.section-button {
    background: none;
    color: #007bff;
    padding: 10px;
    border: none;
}

.section-title h1 {
    color: #1d1e1e;
    font-weight: 700 !important;
    font-size: 54px;
    line-height: 40px;
    letter-spacing: -0.32px;
    text-align: center;
    margin-bottom: 30px;
}

.cookie-container {
    position: fixed;
    bottom: 8px;
    left: 8px;
    padding: 10px 14px;
    width: 400px;
    height: 115px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px;
    animation: slide 1s linear;
    z-index: 1054;
}


.cookie-title {
    font-size: 13px;
    text-align: center;
    color: #000;
}

.cookie-title a {
    text-decoration: underline;
}

.isnew-style {
    background-color: #ff7300;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    border-radius: 25%;
    margin-left: 10px;
}

.isnew-style.hidden {
    display: none;
}

.cookie-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.now-title {
    padding-bottom: 30px;
    font-size: 26px;
    font-weight: 600 !important;
}

.cookie-buttons button {
    background-color: #0089ec;
    border-radius: 12px;
    width: 112px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600 !important;
    font-size: 13px;
    padding: 12px 11px;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

.h-screen {
    margin-top: 150px;
    min-height: 150vh;
}

.relative-container {
    position: relative;
    margin-top: 250px;
    left: 45%;
    transform: translateX(-40%);
    height: 170vh;
}

.mockup-container {
    position: sticky;
    display: flex;
    justify-content: center;
    top: 190px;
    width: auto;
}

.mockup-container div img {
    margin-left: auto 0;
}

.mockup-container span {
    margin-top: 18px;
    font-size: 11px;
    color: #717171;
    line-height: 14px;
    letter-spacing: -0.16px;
}

.mockup-content {
    position: absolute;
    top: 90px;
    z-index: 2;
    left: 0;
    overflow: hidden;
}


.mockup-content img {
    width: 100%;
    height: auto;
}

.boxed {
    position: relative;
    top: 100px;
}

.boxed img {
    transform: transform 03.s ease, opacity 0.3 ease;
}

.phone-image-alt {
    position: absolute;
    top: 0;
}

.box span {
    margin-top: 18px;
    color: #717171;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: -0.16px;
    text-align: center;
}

.cover-box {
    width: 70%;
    display: flex;
    height: 100vh;
    margin-left: auto;
    min-height: 900px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 10px;
}

.cover-box-span {
    margin-top: 18px;
    font-size: 11px;
    color: #717171;
    line-height: 14px;
    letter-spacing: -0.16px;
}

.cover-box-title {
    margin-top: 32px;
    margin-bottom: 8px;
    color: #1d1e1e;
    font-size: 22px;
    line-height: 34px;
    font-weight: 600 !important;
    letter-spacing: -0.32px;
}

.cover-box-button-div {
    width: 100%;
}

.cover-box div button {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    margin: 10px 0;
    border: none;
    color: #0089ec;
    padding: 0;
    background-color: transparent;
}

.cover-box div .btn-primary {
    --bs-btn-active-bg: none;
}

.carousel-lists {
    display: flex;
    list-style: none;
    align-items: center;
    font-weight: 500 !important;
    gap: 15px;
    padding: 15px;
}

.carousel-lists li {
    padding: 10px 5px;
}

.carousel-lists li img {
    width: 126px;
}

.yesterday-to {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 14px;
}

.yesterday-to-img {
    float: left;
}

.mobile-image {
    width: 100%;
    height: 194px;
    border-radius: 12px;
}

.yesterday-to img {
    width: 570px;
    max-width: unset;
    height: 321px;
    border-radius: 12px;
}

.insures-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    min-width: 180px;
    height: 162px;
    margin-top: 10px;
    padding: 3px;
}

.insures-card span {
    font-weight: 700 !important;
}

.active-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0089ec;
    border-radius: 12px;
    padding: 0 10px;
}

.active-tab:hover {
    background-color: #FAFAFA;
}

.carousel-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-radius: 12px;
}

.carousel-div h1 {
    color: #fff;
    font-size: 44px;
    line-height: 65px;
    font-weight: 700 !important;
    padding: 25px;
    margin-bottom: 50px;
    overflow: hidden;
}

.carousel-div img {
    border-radius: 10px;
}

.carousel-div span {
    align-items: center;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    border: none;
    padding: 25px;
    background-color: transparent;
    overflow: hidden;
}

.carousel-div span:hover {
    text-decoration: underline;
    background-color: transparent;
}

.bg-orange {
    background-color: #ff7300;
}

.bg-blue {
    background: #318FCC;
}

.page {
    border: 1px solid;
    border-radius: 12px;
    overflow: hidden;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.cover-box div button:hover {
    background-color: #fff;
    color: #0089ec;
}

.cover-box-description {
    margin-top: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #515353;
}

.company-card-container {
    background: #F5F7F9;
    margin-top: 72px;
    margin-bottom: 72px;
    padding: 72px;
}

.company-header {
    text-align: center;
    padding: 72px;
}

.company-card {
    height: 115px;
    width: 50%;
    margin: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.company-card img {
    filter: grayscale(100%);
}

.navbar-button {
    display: flex;
    align-items: center;
    min-height: 49px;
    max-width: 183px;
    line-height: 17px;
    border-radius: 12px;
    border: none;
    font-weight: 600 !important;
    background-color: #0089ec;
}



.text-size-9 {
    color: #717171;
    font-size: 12px;
    line-height: 14.5px;
    margin-bottom: 1px;
}

.company-card:hover img {
    filter: grayscale(0%);
}

.company-card:hover {
    cursor: pointer;
}

.year {
    font-size: 100px;
    position: absolute;
    color: #0086cd;
    font-weight: 600 !important;
    opacity: 0.2;
}

.list-awards {
    position: relative;
    background-color: "#F5F7F9";
    list-style-type: none;
    display: flex;
    margin-top: 16px;
    top: 17%;
    margin-bottom: 55px;
    margin-left: 33px;
    z-index: 5;
}

.year-box {
    width: 320px;
    height: 180px;
    background-color: #fff;
    border: 1px solid hsla(0, 0%, 84.7, 3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.whypolices-title {
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.32px;
    font-weight: 600 !important;
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
}


.timeline-line {
    width: 80%;
    height: 2px;
    background-color: #007bff;
    position: relative;
}

.timeline-item {
    position: relative;
    width: 50px;
    text-align: center;
    color: #999;
    cursor: pointer;
}

.timeline-item .active {
    color: #007bff;
}


.timeline-line::before {
    content: "";
    position: absolute;
    top: -6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #007bff;
}

.timeline-line::after {
    content: "";
    position: absolute;
    top: -6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #007bff;
}

.advertisement-title {
    font-size: 26px;
    text-align: center;
}

.companys-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(34, 34, 34, 0.2);
    width: 332px;
    height: 192px;
    padding: 20px;
    margin: 100px 10px;
}

.companys-cards-name {
    width: 100%;
    font-weight: 700 !important;
}

.carousel-header {
    font-size: 26px;
    font-weight: 600 !important;
    text-align: center;
    padding: 20px 20px;
}

.company-cards-title {
    width: 100%;
    height: 98px;
    font-size: 14px;
}

.company-trophy {
    display: flex;
    gap: 25px;
    justify-content: start;
    font-weight: 700 !important;
}

.sss-container {
    margin-top: 72px;
    margin-bottom: 72px;
}

.first-award {
    display: flex;
    justify-content: center;
}

.first-award img {
    height: 238px;
}

.second {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.second-award a {
    display: flex;
    align-items: center;
    color: #0089ec;
    font-weight: 700 !important;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0;
    justify-content: start;
    gap: 10px;
}

.second h2 {
    color: #1d1e1e;
    font-weight: 600 !important;
    font-size: 32px;
    letter-spacing: 0;
}

.second p {
    color: #515353;
    font-weight: 400 !important;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
}

.footer-title {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500 !important;
}

.footer-link {
    color: #717171;
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
}

.footer-lists {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    list-style: none;
    gap: 0.20rem;

}

.footer-lists li {
    font-size: 15px;
    color: #717171;
    display: flex;
}

.footer-lists div {
    margin-top: 5px;
}


footer {
    margin-top: 15px;
}

.col ul li {
    display: flex;
}

.col ul li a {
    color: #717171;
    font-size: 15px;
    cursor: pointer;
}

.row>* {
    width: 0%;
}

.comment-list {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    width: 100%;
}

.sl {
    background-color: #fff !important;
    color: aqua !important;
    border: none;
}

.divider {
    display: flex;
    align-items: center;
    margin-right: 2px;
    color: #717171;
    font-size: 15px;
}

div ul li a {
    color: #717171;
    line-height: 32px;
    width: 100%;

}

.instruction-year {
    color: #717171;
    font-size: 11px;
}

.accordion-button:not(.collapsed) {
    background: transparent;
}

.accordion-button:focus {
    box-shadow: none;
}

.guarantine-box {
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 0;
}

.flex-center {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    align-items: center;
    height: 226px;
}

.whypolices-subtitle {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600 !important;
    margin-bottom: 5px;
    color: #1d1e1e;
    line-height: 24px;
    letter-spacing: -0.16px;
}

.aspect-radio-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.aspect-radio-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex-center img {
    width: 90px;
    height: 90px;
}


.footer-span {
    font-size: 15px;
    color: #717171;
}

.branch-list {
    position: relative;
    justify-content: center;
    text-align: center;
}

@media (min-width:600px) {
    .carousel-lists {
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .sticky-card {
        position: fixed;
        top: 50px;
        width: 95%;
        left: 0;
        z-index: 50;

    }

    .section-title h1 {
        font-size: 26px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .carousel-lists li img {
        height: 67px;
    }

    .hover-blue {
        height: 150px;
    }

    .cover-box-title {
        font-size: 17px;
        line-height: 24px;
    }

    .whypolices-title {
        font-size: 16px;
        line-height: 27px;
    }

    .cover-box-description {
        font-size: 14px;
        line-height: 22px;
    }

    .cover-box-button-div {
        height: 55px;
    }

    .sticky-card .card {
        width: 90%;
        border-color: #ff7300;
        margin-right: auto;
        border-radius: 10px;
    }

    .testimonials-card {
        min-width: 100%;
    }

    .testimonials-card p {
        font-size: 15px;
        line-height: 24px;
    }

    .testimonials-container {
        width: 100%;
    }


    .accordion {
        min-width: 70%;
        height: auto;
    }

    .carousel-lists li {
        font-size: 12px;
        padding: 10px 10px;
    }

    .cover-box {
        margin-top: 55px;
        min-height: 0;
        display: inline-block;
        width: 100%;
        height: auto;
    }

    .cover-box div {
        margin-top: 15px;
        height: auto !important;
    }

    .cover-box div img {
        width: 100%;
    }



    .boxed {
        position: relative;
        width: 100%;
    }

    .company-card-container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .second-award {
        order: 2;
    }

    .first {
        order: 1;
        display: flex;
        justify-content: space-around;
        margin-bottom: 25px;
        width: 100%;
    }

    .second {
        order: 2;
    }

    .first img {
        height: 154px;
    }

    .testimonials-header {
        text-align: center;
        font-size: 18px;
        padding: 0;
    }

    .second p {
        margin: 8px 0;
        line-height: 22px;
        font-size: 14px;
    }

    .first-award {
        margin-bottom: 25px;
        justify-content: space-evenly;

    }

    .second h2 {
        letter-spacing: 0px;
    }

    .img-width img {
        height: 30px;
    }

    .footer-span {
        font-size: 12px;
        color: #717171;
    }
}


@media (max-width:720px) {
    .cookie-container {
        width: 100%;
        bottom: 0;
    }

    .cookie-buttons button {
        width: 100%;
    }

    .carousel-div h1 {
        font-size: 13px;
        line-height: 20px;
        overflow: hidden;
        font-weight: 300;
    }

    .carousel-div img {
        width: 60%;
        height: auto;
    }

}

@media (max-width:768px) {
    .second h2 {
        line-height: 22px;
        font-size: 20px;
    }

    .first-award img {
        height: 154px;
    }

}

@media (max-width:1199.98px) {
    .footer-lists {
        justify-content: start;
        padding: 10px 0;
        gap: 0;
        line-height: 10px;
    }

    .yesterday-to img {
        width: 380px;
    }

    .footer-lists li {
        font-size: 12px;
        line-height: 10px;
    }
}