body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.size-text-9 {
    font-size: 12px;
}

/* .dropdown-menu[data-bs-popper] {
    max-width: 617px;
    margin-top: var(--bs-dropdown-spacer);
    padding: 36px;
    background-color: #F5F7F9;
    width: 100vw;
} */



.carousel .carousel-indicators button {
    background-color: #3c9feb;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;

}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #FAFAFA;
    --bs-dropdown-link-active-color: #3c9feb;
    --bs-dropdown-link-color: #515353;
}

.accordion {
    border-radius: 16px;
    margin: 0 auto !important;
}

.accordion-header {
    padding: 25px 30px;

}

/* Accordion bootstrap sınıfına bottom margin verildi */
.accordion-item {
    margin-bottom: 15px;
}

/* Accordion button sağdan boşluk bırakmak için bootstrap sınıfının içine yazıldı */
.accordion-button::after {
    margin-right: 25px;
}

.accordion-body {
    padding: 0 72px;
}

.accordion-body {
    color: #898A8A;
    font-size: 16px;
    line-height: 24px;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-item:first-of-type {
    border: 12;
}

.accordion-button {
    font-size: 16px;
    color: #1d1e1e;
    line-height: 27px;
    font-weight: 500 !important;
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
}

@media (max-width:992px) {

    .navbar-toggler {
        border: none;
    }

    .full-cover-modal .modal-dialog {
        max-width: 100vw;
        height: 100vh;
        margin: 0;
        z-index: 200;
    }

    .full-cover-modal .modal-content {
        height: 100vh;
        border: 0;
        border-radius: 0;
        z-index: 3000;
    }

    .dropdown-menu[data-bs-popper] ul li {
        color: #515353;
        list-style-type: none;
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dropdown-menu[data-bs-popper] ul li svg {
        display: none;
    }

    .dropdown-menu[data-bs-popper] ul li a:hover {
        display: block;
        background: #FAFAFA;
    }

    .size-text-9 {
        line-height: 14.5px;
    }
}