body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #000;
}

.size-text-9 {
    font-size: 12px;
}

.dropdown-menu[data-bs-popper] {
    max-width: 617px;
    margin-top: var(--bs-dropdown-spacer);
    padding: 36px;
    background-color: #F5F7F9;
    width: 100vw;
}

.dropdown-menu[data-bs-popper] .show a:hover {}

.nav-phone {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-phone div span {
    display: inline-block;
    color: #717171;
}

.nav-phone button {
    min-height: auto !important;
    padding: 10px 24px !important;
}

.carousel .carousel-indicators button {
    background-color: #3c9feb;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@media (max-width:992px) {
    html {
        display: flex;
        width: 100%;
    }

    .dropdown-menu[data-bs-popper] {
        width: 100%;
        margin-bottom: 1px;
        padding: 0px 0px 12px 0px;
        border: none;
        font-size: 15px;
        min-height: 100vjh;
    }

    .navbar-brand {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .navbar-brand div {
        display: flex;
        gap: 5px;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-brand div button {
        cursor: pointer;
        min-height: unset;
        padding: 10px 22px;
        font-size: 12px;
    }

    .nav-phone {
        flex-direction: column;
    }

    .navbar-collapse.show #has-button {
        display: none;
    }

    .navbar-toggler:active #has-button {
        display: none;
    }

    .dropdown-menu[data-bs-popper] ul {
        padding: 0;
    }

    .dropdown-menu[data-bs-popper] ul li {
        color: #515353;
        list-style-type: none;
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dropdown-menu[data-bs-popper] ul li svg {
        display: none;
    }

    .dropdown-menu[data-bs-popper] ul li a:hover {
        display: block;
        background: #FAFAFA;
    }

    .size-text-9 {
        line-height: 14.5px;
    }
}