body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.size-text-9 {
    font-size: 12px;
}

.dropdown-menu[data-bs-popper] {
    max-width: 617px;
    margin-top: var(--bs-dropdown-spacer);
    padding: 36px;
    background-color: #F5F7F9;
    width: 100vw;
}



.carousel .carousel-indicators button {
    background-color: #3c9feb;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;

}

.accordion {
    border-radius: 16px;
    margin: 0 auto !important;
}

.accordion-header {
    padding: 25px 30px;

}

/* Accordion bootstrap sınıfına bottom margin verildi */
.accordion-item {
    margin-bottom: 15px;
}

/* Accordion button sağdan boşluk bırakmak için bootstrap sınıfının içine yazıldı */
.accordion-button::after {
    margin-right: 25px;
}

.accordion-body {
    padding: 0 72px;
}

.accordion-body {
    color: #898A8A;
    font-size: 16px;
    line-height: 24px;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-item:first-of-type {
    border: 12;
}

.accordion-button {
    font-size: 16px;
    color: #1d1e1e;
    line-height: 27px;
    font-weight: 500 !important;
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
}

@media (max-width:992px) {
    html {
        display: flex;
        width: 100%;
    }

    .dropdown-menu[data-bs-popper] {
        width: 100%;
        margin-bottom: 1px;
        padding: 0px 0px 12px 0px;
        border: none;
        font-size: 15px;
        min-height: 100vjh;
    }

    .navbar-brand {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .navbar-brand div {
        display: flex;
        gap: 5px;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-brand div button {
        cursor: pointer;
        min-height: unset;
        padding: 10px 22px;
        font-size: 12px;
    }

    .nav-phone {
        flex-direction: column;
    }

    .navbar-collapse.show #has-button {
        display: none;
    }

    .navbar-toggler:active #has-button {
        display: none;
    }

    .dropdown-menu[data-bs-popper] ul {
        padding: 0;
    }

    .dropdown-menu[data-bs-popper] ul li {
        color: #515353;
        list-style-type: none;
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dropdown-menu[data-bs-popper] ul li svg {
        display: none;
    }

    .dropdown-menu[data-bs-popper] ul li a:hover {
        display: block;
        background: #FAFAFA;
    }

    .size-text-9 {
        line-height: 14.5px;
    }
}